li > a{
    color: red;
}

h1 + h4{
    border: 2px dotted blue;
}

a[href="/rec"]{
    color: orangered;
}

li:nth-of-type(2){
    color: brown;
}

div{
    border: 3px solid black;
}

div ul{
    border: inherit;
}